
{% extends 'rvm/base.html' %}
{% load static %}

{% block contents %}
{% comment %} <meta http-equiv="refresh" content="5"> {% endcomment %}

  

    {% comment %} {% for date in qs3 %}
        {{date.date}} - {{date.number_of_bottles}} bottles - {{date.credits_earned}} credits
        <hr>
    {% endfor %} {% endcomment %}

    <div class="wrapper">
        <!-- Sidebar  -->
        <nav id="sidebar">
            <div class="sidebar-header">
                <h3>RVM</h3>
            </div>

            <ul class="list-unstyled components">
                <p>RVM</p>
                <li class="active">
                    <a href="#homeSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Home</a>
                    <ul class="collapse list-unstyled" id="homeSubmenu">
                        <li>
                            <a href="#">Home 1</a>
                        </li>
                        <li>
                            <a href="#">Home 2</a>
                        </li>
                        <li>
                            <a href="#">Home 3</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="#">About</a>
                </li>
                <li>
                    <a href="#pageSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Pages</a>
                    <ul class="collapse list-unstyled" id="pageSubmenu">
                        <li>
                            <a href="#">Page 1</a>
                        </li>
                        <li>
                            <a href="#">Page 2</a>
                        </li>
                        <li>
                            <a href="#">Page 3</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="#">Portfolio</a>
                </li>
                <li>
                    <a href="#">Contact</a>
                </li>
            </ul>
        </nav>

        <!-- Page Content  -->
        <div id="content">

            <nav class="navbar navbar-expand-lg sticky-top navbar-light bg-light">
                <div class="container-fluid">

                    <button type="button" id="sidebarCollapse" class="btn btn-info">
                        <i class="fas fa-align-left"></i>
                        <span>Toggle Sidebar</span>
                    </button>
                    <button class="btn btn-dark d-inline-block d-lg-none ml-auto" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                        <i class="fas fa-align-justify"></i>
                    </button>

                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="nav navbar-nav ml-auto">
                            <li class="nav-item active">
                                <a class="nav-link" href="#">Page</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">Page</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">Page</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">Page</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>

            {% comment %} {{request.user.username}} {% endcomment %}
            <div class="container">
                <div class="row row-cols-1 row-cols-md-2 g-4">
                    <div class="col">
                      <div class="card">
                        <div class="card-body">
                          <h5 class="card-title">Bottles Deposited</h5>
                          <p class="card-text" id="bottles_deposited">{{bottle_count}}</p>
                        </div>
                      </div>
                    </div>
                    <div class="col">
                      <div class="card">
                        <div class="card-body">
                          <h5 class="card-title">Credits Given</h5>
                          <p class="card-text" id="credits_earned">{{credit_count}}</p>
                        </div>
                      </div>
                    </div>
                    <div class="col">
                      <div class="card">
                        <div class="card-body">
                          <h5 class="card-title">Coins Left</h5>
                          <p class="card-text">123</p>
                        </div>
                      </div>
                    </div>
                    <div class="col">
                      <div class="card">
                        <div class="card-body">
                          <h5 class="card-title">Trash Status</h5>
                          <p class="card-text">Full</p>
                        </div>
                      </div>
                    </div>
                  </div>
            </div>

            <div class="container">

                <div class="card-deck mt-4 row">
                    <div class="card col-md-9" id="chartReport">
                        <canvas id="myChart" width="400" height="140"></canvas>
                    </div>
                    <div class=" card col-md-3" id="chartReport">
                        <canvas id="myChart2" width="400" height="140"></canvas>
                    </div>
                </div>
                
            </div>

            <div class="line"></div>

            <h2>Lorem Ipsum Dolor</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>

            <div class="line"></div>

            <h2>Lorem Ipsum Dolor</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>

            <div class="line"></div>

            <h3>Lorem Ipsum Dolor</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
        </div>
    </div>

    

    

{% endblock contents %}

{% block scripts %}

<script>
    //bb = [{% for date in qs %}"{{date.date}}",{%endfor%}]
    //aa=[...new Set(bb)]

    dateLabel = [{% for date in qs3 %}"{{date.date}}",{%endfor%}]
    
    //dateLabel = [...new Set(dateLabel)]
    //console.log(dateLabel)
    var canvas = document.getElementById('myChart');
    var data = {
        //labels:[{% for date in qs2 %}"{{date.date}}",{%endfor%}],
        labels:dateLabel,
        datasets: [
            {
                label: 'Daily Bottle Records',
                fill: false,
                lineTension: 0.1,
                backgroundColor: "rgba(75,192,192,0.4)",
                borderColor: "rgba(75,192,192,1)",
                borderCapStyle: 'butt',
                borderDash: [],
                borderDashOffset: 0.0,
                borderJoinStyle: 'miter',
                pointBorderColor: "rgba(75,192,192,1)",
                pointBackgroundColor: "#fff",
                pointBorderWidth: 1,
                pointHoverRadius: 5,
                pointHoverBackgroundColor: "rgba(75,192,192,1)",
                pointHoverBorderColor: "rgba(220,220,220,1)",
                pointHoverBorderWidth: 2,
                pointRadius: 5,
                pointHitRadius: 10,
                data: [{% for bottle in qs3 %}"{{bottle.number_of_bottles}}",{%endfor%}],
                //data:[],
            },
            {
                label: 'Daily Credit Records',
                fill: false,
                lineTension: 0.1,
                backgroundColor: "rgba(75,192,192,0.4)",
                borderColor: "rgba(75,192,192,1)",
                borderCapStyle: 'butt',
                borderDash: [],
                borderDashOffset: 0.0,
                borderJoinStyle: 'miter',
                pointBorderColor: "rgba(75,192,192,1)",
                pointBackgroundColor: "#fff",
                pointBorderWidth: 1,
                pointHoverRadius: 5,
                pointHoverBackgroundColor: "rgba(75,192,192,1)",
                pointHoverBorderColor: "rgba(220,220,220,1)",
                pointHoverBorderWidth: 2,
                pointRadius: 5,
                pointHitRadius: 10,
                data: [{% for credit in qs3 %}"{{credit.credits_earned}}",{%endfor%}],
                //data:[],
            }
        ]
    };
    
    var option = {
        showLines: true,
    };
    var myLineChart = new Chart(canvas,{
        type: 'bar',
        data:data,
        options:option,
        scales: {
            xAxes: [{
                type: 'time',
                time: {
                  unit: 'month'
                }
              }],
        }

      
    });

    //////////////////////////////////////////////////////////////

    var canvas2 = document.getElementById('myChart2');
    var data2 = {
        //labels:[{% for date in qs2 %}"{{date.date}}",{%endfor%}],
        labels:['Bottle', 'Not Bottle'],
        datasets: [
            {
                label: ['Bottle', 'Not Bottle'],
                fill: false,
                lineTension: 0.1,
                backgroundColor: ["green", "red"],
                borderColor: "gray",
                borderCapStyle: 'butt',
                borderDash: [],
                borderDashOffset: 0.0,
                borderJoinStyle: 'miter',
                pointBorderColor: "rgba(75,192,192,1)",
                pointBackgroundColor: "#fff",
                pointBorderWidth: 1,
                pointHoverRadius: 5,
                pointHoverBackgroundColor: "rgba(75,192,192,1)",
                pointHoverBorderColor: "rgba(220,220,220,1)",
                pointHoverBorderWidth: 2,
                pointRadius: 5,
                pointHitRadius: 10,
                data: [{{bottle_count}}, {{not_bottle_count}}],
                //data:[],
            },
        ]
    };
    
    var option = {
        showLines: true,
    };
    var myLineChart2 = new Chart(canvas2,{
        type: 'doughnut',
        data:data2,
        options:option,

    });

    //////////////////////////////////////////////////////////////

    var eventSource = new EventSource("{% url 'stream' %}")

    eventSource.onopen = function(){
        //console.log('yay its open');
    }

    eventSource.onmessage = function(e){
        console.log(e)
        //myLineChart.data.labels.pop()
        var final_data = JSON.parse(e.data)
        //console.log(typeof(final_data))


        credit_float = parseFloat(final_data[0].credits)

        bot = parseInt(document.getElementById("bottles_deposited").innerHTML)
        if (bot == NaN){
            document.getElementById("bottles_deposited").innerHTML = final_data[0].bottles
        }
        else{
            tot = bot + final_data[0].bottles
            document.getElementById("bottles_deposited").innerHTML = tot
        }

        console.log(bot)
        cre = parseFloat(document.getElementById("credits_earned").innerHTML)
        
        cred = cre + credit_float
        
        document.getElementById("credits_earned").innerHTML = cred

        console.log((myLineChart2.data.datasets[0].data[1]))
        console.log(myLineChart2.data.datasets[0].data[0] + final_data[0].bottles)
        myLineChart2.data.datasets[0].data[0]=myLineChart2.data.datasets[0].data[0] + final_data[0].bottles
        myLineChart2.data.datasets[0].data[1]=myLineChart2.data.datasets[0].data[1] + final_data[0].not_bottle
        myLineChart2.update()
        

        newDate = format(final_data[0].date)

    
        a=myLineChart.data.labels.indexOf(newDate)


        //addData(final_data[0])



        const datee = new Date(final_data[0].date)
        datee.setSeconds(0, 0);

        abc = convertTZ(datee, "Asia/Manila")
        myTimee = new Date(abc).toLocaleTimeString();

        var arrr = []
        var count = 0
        result = myTimee.toLowerCase()
        for (let i of result) {
            //console.log(i)
            arrr.push(i)
            if (i === ":") {
                count += 1
                if (count == 2) {
                    arrr.pop()
                    break;
                }
            }
        }

        stat = result.slice(-2,)
        arr = []
        for (let element of stat) {
            arr.push(element)
        }
        ampm = (arr.join(".") + ".")
        // stat.splice(1, 0, ".")
        // console.log(stat)

        //console.log(arrr.join("") + " " + ampm)
        oras = arrr.join("") + " " + ampm
        
        datetime = newDate+","+" "+oras
        //console.log(datetime)

        addData(datetime, final_data[0])
        //set(final_data[0].bottles)
        
        
            

            

        




    }

    eventSource.onerror = function(e) {
        console.log(`error ${e}`);
    }

    function updateDate(input){
        convertedDate = format(input.date)

        myLineChart.data.labels.push(convertedDate)
        myLineChart.data.datasets.forEach((dataset) => {
            //console.log(dataset)
            if(dataset.label == 'Daily Bottle Records'){
                dataset.data.push(input.bottles);
            }
            else if(dataset.label == 'Daily Credit Records'){
                dataset.data.push(input.credits);
            }
        
        });
        myLineChart.update();
    }

    function addData(input, values){
        dateArray = []
        dateArray.push(input)
        //console.log("Values:",values.bottles)
        //convertedDate = format(input.date)
        //myLineChart.data.labels.pop()
        myLineChart.data.labels.push(input)

        
        //myLineChart.data.labels.pop()
        //console.log(myLineChart.data.labels)
        //myLineChart.data.labels = [...new Set(myLineChart.data.labels)];
        //console.log(myLineChart.data.labels)
        myLineChart.data.datasets.forEach((dataset) => {
            //console.log(dataset)
            if(dataset.label == 'Daily Bottle Records'){
                
                dataset.data.push(String(values.bottles));
                //dataset.data.pop()

                //console.log(dataset.data)
            }
            else if(dataset.label == 'Daily Credit Records'){
                
                dataset.data.push(String(values.credits));
                //dataset.data.pop()

                //console.log(dataset.data)
            }
        
        });
        myLineChart.update();
    }

    function editData(input){
        a=myLineChart.data.labels.indexOf(format(input.date))
        //console.log(a)

            if (a !== -1) {
                //c = myLineChart.data.labels[a] = input.date;
                a = parseInt(myLineChart.data.datasets[0].data[a]) + parseInt(input.bottles);
                b = parseFloat( myLineChart.data.datasets[1].data[a]) + parseFloat(input.credits);
                myLineChart.data.datasets[0].data[a] = a
                myLineChart.data.datasets[1].data[a] = b
                myLineChart.update();
            }
            
    }

    function format(input){
        var date = new Date(input.replace(/ /g,'T'));
        return [
        "January", "February", "March", "April", "May", "June", "July",
        "August", "September", "October", "November", "December"][date.getMonth()] + ' ' + date.getDate() + ', ' + date.getFullYear();
    }

    function myInterval(a){
        setInterval(a,1000)
    }

    function convertTZ(date, tzString) {
        return new Date((typeof date === "string" ? new Date(date) : date).toLocaleString("en-US", { timeZone: tzString }));
    }

</script>




{% endblock scripts %}