{% extends 'rvm/base.html' %}

{% block contents %}

    <div class="container" id="login-page">
        <div class="row justify-content-center">
            <div class="col-md-5 mt-3 border" id="login">
            
                <h3 class="text-center">Reverse Vending Machine</h3>
                <h3 class="text-center">Admin Login</h3>

                <span class="mb-0 text-muted">
                {% if msg %}
                    {{ msg | safe }}
                {% endif %}
                </span>

                <form  method="post">{% csrf_token %}
                <div class="form-group first">
                    <label for="username">Username</label>
                    {{ form.username }}
                </div>
                <div class="form-group last mb-4">
                    <label for="username">Password</label>
                    {{ form.password }}
                </div>

                <input type="submit" value="Log In" class="btn btn-pill text-white btn-block btn-primary">
                </form>
            </div>
        </div>
  </div>

{% endblock contents %}